@page "/banksampah"
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

<!DOCTYPE html>
<html>
<head>
    <title>Manajemen Bank Sampah</title>
</head>
<body>
    <h1 class="display-4">Manajemen Bank Sampah</h1>

    <div class="card mt-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a href="/banksampah/formadd" class="btn btn-primary"><i class="bi bi-plus-square"></i> Add Bank Sampah</a>
        </div>
        <div class="card-body">

            <table class="table table-striped table-bordered mt-4">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Username</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Nomor Telepon</th>
                        <th scope="col">Peran</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @* @foreach (var m in Model)
                    {
                        <tr>
                            <th scope="row">@m.Id</th>
                            <td>@m.Username</td>
                            <td>@m.Nama</td>
                            <td>@m.Alamat</td>
                            <td>@m.NomorTelepon</td>
                            <td>@m.Peran</td>
                            <td>
                                <a href="/banksampah/formedit/@m.Id" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a href="/banksampah/delete/@m.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
                            </td>
                        </tr>
                    } *@
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</body>
</html>
