@page "/banksampah/formadd"
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json
@using Model

<h2>Formulir Tambah</h2>

<EditForm Model="@registerModel" OnValidSubmit="RegisterUser">
    <div class="form-group">
        <label for="Username">Username:</label>
        <InputText id="Username" class="form-control" @bind-Value="registerModel.Username" />
        <ValidationMessage For="@(() => registerModel.Username)" />
    </div>
    <div class="form-group">
        <label for="Name">Nama:</label>
        <InputText id="Name" class="form-control" @bind-Value="registerModel.Name" />
        <ValidationMessage For="@(() => registerModel.Name)" />
    </div>
    <div class="form-group">
        <label for="Address">Alamat:</label>
        <InputText id="Address" class="form-control" @bind-Value="registerModel.Address" />
        <ValidationMessage For="@(() => registerModel.Address)" />
    </div>
    <div class="form-group">
        <label for="Phone">Nomor Telepon:</label>
        <InputText id="Phone" class="form-control" @bind-Value="registerModel.Phone" />
        <ValidationMessage For="@(() => registerModel.Phone)" />
    </div>
    <div class="form-group">
        <label for="Role">Peran:</label>
        <InputSelect id="peran_user" @bind-Value="@registerModel.Role">
            <option value="Pengguna Rumah">Pengguna Rumah</option>
            <option value="Pengambil Sampah">Pengambil Sampah</option>
            <option value="Bank Sampah">Bank Sampah</option>
        </InputSelect>
        <ValidationMessage For="@(() => registerModel.Role)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tambah</button>
        <a href="/banksampah" class="btn btn-secondary">Cancel</a>
    </div>
</EditForm>

@if (submitMessage != null)
{
    <div class="alert @alertClass">
        @submitMessage
    </div>
}

@code {
    private RegisterModel registerModel = new RegisterModel();
    private string submitMessage;
    private string alertClass;

    private async Task RegisterUser()
    {
        var response = await Http.PostAsJsonAsync("http://localhost/Slims3/public/api/fe/regis", registerModel);

        if (response.IsSuccessStatusCode)
        {
            submitMessage = "User registered successfully!";
            alertClass = "alert-success";
            Navigation.NavigateTo("/banksampah");
        }
        else
        {
            submitMessage = "Failed to register user. Please try again.";
            alertClass = "alert-danger";
        }
    }
}
